<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>[topcoder] - HP IDOL OnDemand Community</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico">  
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>  
    <!-- Global CSS -->
    <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->    
    <link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="plugins/flexslider/flexslider.css">
    <link rel="stylesheet" href="plugins/animate-css/animate.min.css">
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="stylesheets/styles-4.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "4091849a-971e-4923-a1ab-3dfefd889c6b", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>    
</head> 

<body data-spy="scroll">
    <!-- ******HEADER****** --> 
    <header id="top" class="header navbar-fixed-top">  
        <div class="container">
            <div class="pull-right">
                <a href="http://www.topcoder.com" target="_blank"><img src="images/poweredby.png" width="200"></a>            
            </div>
            <div class="clearfix"></div>  
            <h1 class="logo pull-left">
                <a class="scrollto" href="#promo">
                    <img id="logo-image" class="logo-image" src="images/logo/logo.png" alt="Logo">
                    <span class="logo-title">IDOL OnDemand</span>
                </a>
            </h1><!--//logo-->              
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->            
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item sr-only"><a class="scrollto" href="#promo">Home</a></li>
                        <li class="nav-item"><a class="scrollto" href="#features">Features</a></li>
                        <li class="nav-item"><a class="scrollto" href="#apis">APIs</a></li>
                        <li class="nav-item"><a class="scrollto" href="#challenges">Challenges</a></li>
                        <li class="nav-item"><a class="scrollto" href="#challenges">Leaderboard</a></li>
                        <li class="nav-item"><a class="scrollto" href="#faq">FAQ</a></li>
                        <li class="nav-item"><a href="http://www.topcoder.com/?action=callback" target="_blank">Register</a></li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->           
        </div>
    </header><!--//header-->
    
    <!-- ******PROMO****** --> 
    <section id="promo" class="promo section offset-header has-pattern">
        <div class="container">
            <div class="row">
                <div class="overview col-md-8 col-sm-12 col-xs-12">
                    <h2 class="title">Compete in [topcoder] challenges to develop a new generation of human information apps using HP IDOL OnDemand</h2>
                    <p style="font-size:16px">IDOL OnDemand offers a growing set of web service APIs that make it easy for you to develop ground-breaking human information apps. We care about giving you the right set of tools needed to tackle the explosive growth of human information, including free text, images, social media and app data. IDOL OnDemand exposes the capabilities of <a href="http://www.autonomy.com/technology/idol-the-os/" target="_blank" class="white-link-underlined">HP IDOL</a> (Intelligent Data Operating Layer), the world’s leading human information processing engine, to deliver a wide selection of IDOL OnDemand APIs, including sentiment analysis, face detection, entity extraction, text indexing, and <a href="https://www.dev.idolondemand.com/developer/apis" target="_blank" class="white-link-underlined">more</a> – for quick and lightweight integration into your web or mobile apps.</p>
                    <p style="font-size:16px; padding-bottom:20px">Ready to innovate? <a href="http://www.topcoder.com/?action=callback" target="_blank" class="white-link-underlined">Sign up now</a> and compete in <a class="scrollto white-link-underlined" href="#challenges">[topcoder] challenges</a> to build something amazing with us. </p>
                    <ul class="summary">
                        <li>Compete in development challenges for cash, prizes & bragging rights</li>
                        <li>Get up to speed on the latest technology</li>
                        <li>Demonstrate your proficiency in HP technologies</li>
                        <li>Enhance your [topcoder] profile with HP technology badges</li>
                    </ul>
                </div><!--//overview-->
                
                <!--// iPhone starts -->
                <div class="phone iphone iphone-black col-md-4 col-sm-12 col-xs-12 ">
                    <div class="iphone-holder phone-holder">
                        <div class="iphone-holder-inner">
                            <div class="slider flexslider">
                                <ul class="slides">
                                    <li>
                                        <img src="images/iphone/iphone-slide-3.png"  alt="" />
                                    </li>
                                    <li>
                                        <img src="images/iphone/iphone-slide-2.png"  alt="" />
                                    </li>
                                    <li>
                                        <img src="images/iphone/iphone-slide-1.png"  alt="" />
                                    </li>
                                </ul><!--//slides-->
                            </div><!--//flexslider-->   
                        </div><!--//iphone-holder-inner-->                    
                    </div><!--//iphone-holder-->                   
                </div><!--//iphone-->  
                <!--// iPhone ends -->
                                           
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//promo-->
    
    <!-- ******FEATURES****** --> 
    <section id="features" class="features section">
        <div class="container">
            <div class="row">
                <h2 class="title text-center sr-only">Features</h2>
                <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-comments"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title"><a href="https://www.idolondemand.com/docs/apis/api/detectsentiment/overview" target="_blank">Sentiment Analysis</a></h3>
                        <p>Return the positive or negative sentiments of any document or web content, including tweets, news articles, blog posts, product reviews, comments and more.</p>  
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-magnet"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title"><a href="https://www.idolondemand.com/docs/apis/api/extractentity/overview" target="_blank">Entity Extraction</a></h3>
                        <p>Extracts entities (words, phrases, or blocks of information) from your input text.</p>   
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-camera-retro"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title"><a href="https://www.idolondemand.com/docs/image-analysis/overview" target="_blank">Image Analysis</a></h3>
                        <p>Analyze images using face detection and image identification. Use image to text to make text accessible and searchable or embed a barcode reader to enrich the functionality of your app.</p>   
                    </div><!--//content-->               
                </div><!--//item-->
            </div><!--//row-->
            
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-gear"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title"><a href="https://www.idolondemand.com/docs/format-convert/overview" target="_blank">Format Conversion</a></h3>
                        <p>Extract text from a wide range of file types. Convert 500+ file formats to HTML for high fidelity native browser rendering.</p>  
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-puzzle-piece"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title"><a href="https://www.idolondemand.com/docs/text-analysis/overview" target="_blank">Text Analysis</a></h3>
                        <p>Extract, highlight and expand text and metadata, entities, and keywords to automatically discover, organize and classify unstructured information.</p>   
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-search"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title"><a href="https://www.idolondemand.com/docs/search/overview" target="_blank">Search</a></h3>
                        <p>Search unstructured information. Extract and highlight keywords.</p>   
                    </div><!--//content-->               
                </div><!--//item-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//features-->

   <!-- ******APIS****** --> 
    <section id="apis" class="story section">
        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2" class="h4">Format Conversion APIs</td>
                            </tr>
                        </thead>           
                        <tr>
                            <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/expandcontainer#overview" class="white-link">Expand Container</a></td>
                            <td>Extracts the contents of a container file.</td>
                        </tr>
                        <tr>
                            <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/ocrdocument#overview" class="white-link">OCR Document</a></td>
                            <td>Extracts text from an image.</td>
                        </tr>          
                        <tr>
                            <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/storeobject#overview" class="white-link">Store Object</a></td>
                            <td>Stores a file.</td>
                        </tr>    
                        <tr>
                            <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/extracttext#overview" class="white-link">Text Extraction</a></td>
                            <td>Extracts text from a file.</td>
                        </tr>    
                        <tr>
                            <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/viewdocument#overview" class="white-link">View Document</a></td>
                            <td>Converts a document to HTML format for viewing in a Web browser.</td>
                        </tr>          
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2" class="h4">Image Analysis APIs</td>
                            </tr>
                        </thead>           
                        <tr>
                            <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/recognizebarcodes#overview" class="white-link">Barcode Recognition</a></td>
                            <td>Detects and decodes 1D and 2D barcodes in an image that you provide.</td>
                        </tr>
                        <tr>
                            <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/detectfaces#overview" class="white-link">Face Detection</a></td>
                            <td>Detects faces in an image.</td>
                        </tr>             
                        <tr>
                            <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/recognizeimages#overview" class="white-link">Image Recognition</a></td>
                            <td>Recognizes a known set of images in an image that you provide.</td>
                        </tr>
                        <tr>
                            <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/ocrdocument#overview" class="white-link">OCR Document</a></td>
                            <td>Extracts text from an image.</td>
                        </tr>        
                    </table>
                </div>
            </div>              

            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2" class="h4">Search APIs</td>
                            </tr>
                        </thead>           
                        <tr>
                            <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/findrelatedconcepts#overview" class="white-link">Find Related Concepts</a></td>
                            <td>Returns the best terms and phrases in documents that match the specified query.</td>
                        </tr>
                        <tr>
                            <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/findsimilar#overview" class="white-link">Find Similar</a></td>
                            <td>Finds documents that are conceptually similar to your text or a document.</td>
                        </tr>        
                        <tr>
                            <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/getparametricvalues#overview" class="white-link">Get Parametric Values</a></td>
                            <td>Performs parametric search that combines query text with one more parametric field names.</td>
                        </tr>
                        <tr>
                            <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/querytextindex#overview" class="white-link">Query Text Index</a></td>
                            <td>Searches for items that match your specified natural language text, Boolean expressions, or fields.</td>
                        </tr>           
                    </table>
                </div>
                <div class="col-md-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="2" class="h4">Text Analysis APIs</td>
                            </tr>
                        </thead>           
                        <tr>
                            <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/extractentities#overview" class="white-link">Entity Extraction</a></td>
                            <td>Extracts entities (words, phrases, or blocks of information) from your input text.</td>
                        </tr>
                        <tr>
                            <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/expandterms#overview" class="white-link">Expand Terms</a></td>
                            <td>Returns a list of matching possible terms for a wildcard, stem, or fuzzy expansion.</td>
                        </tr>        
                        <tr>
                            <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/highlighttext#overview" class="white-link">Highlight Text</a></td>
                            <td>Highlights the specified terms in the text you submit.</td>
                        </tr>
                        <tr>
                            <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/identifylanguage#overview" class="white-link">Language Identification</a></td>
                            <td>Identifies the language of a piece of text.</td>
                        </tr>            
                        <tr>
                            <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/analyzesentiment#overview" class="white-link">Sentiment Analysis</a></td>
                            <td>Analyzes text for positive or negative sentiment.</td>
                        </tr>
                        <tr>
                            <td nowrap><a href="https://www.dev.idolondemand.com/developer/apis/tokenizetext#overview" class="white-link">Text Tokenization</a></td>
                            <td>Returns information about the terms in the specified text.</td>
                        </tr>         
                    </table>
                </div>
            </div>                      

        </div><!--//container-->
    </section><!--//apis-->    
    
    <!-- ******STORY****** --> 
    <section id="challenges" class="story section has-pattern">
        <div class="container">
            <div class="row">
                <div class="content col-md-7 col-sm-7 col-xs-12">
                    <h2 class="title">[topcoder] Challenges & Leaders</h2>
                    <p>[topcoder] is the world’s largest platform for digital open innovation. We provide the platform and community of over 600,000 global members to accelerate the development of new digital products and services for our clients.</p>
                    <% if (challenges.length > 0) { %>
                        <table class="table">
                        <tr>
                            <th>Challenge</th>
                            <th>Deadline</th>
                            <th nowrap>Top Prize</th>
                        </tr>
                        <% challenges.forEach(function(c){ %>
                            <% if (c._source.currentStatus != 'Completed') { %>
                                <tr>
                                    <td><a href="http://www.topcoder.com/challenge-details/<%= c._source.challengeId %>?type=<%= c._type%>" class="white-link" target="_blank"><%= c._source.challengeName %></a><span class="small">
                                    <!-- api return an empty string element if no platform/technology for design challenges -->
                                    <% if (c._source.technologies.length > 0) { %>
                                        <% if (c._source.technologies[0] != "" ) { %><br/>Technologies: <%=: c._source.technologies | join %><% } %>
                                    <% } %>
                                    <% if (c._source.platforms.length > 0 ) { %>
                                        <% if (c._source.platforms[0] != "" ) { %><br/>Platforms: <%=: c._source.platforms | join %><% } %>
                                    <% } %>
                                    <br/>Registrants: <%= c._source.numRegistrants %>&nbsp;&nbsp;&nbsp;Submissions: <%= c._source.numSubmissions %></span></td>
                                    <td><%- formatTime(c._source.submissionEndDate) %> (UTC)</td>
                                    <td>$<%=: c._source.prize | first %></td>
                                </tr>
                            <% } %>
                        <% }) %>                 
                        </table>
                    <% } else { %>
                        <h1>Challenges will be starting shortly! Check back for your chance to compete, learn and win!</h1>
                    <% } %>
                </div><!--//content-->
                <div class="team col-md-4 col-sm-4 col-md-offset-1 col-sm-offset-1 col-xs-12">
                    <% if (leaderboard.length === 0) { %> 
                      <p style="padding-top:50px">No results on the leaderboard at this time. Once challenges finish up the results will be posted to the leaderboard so please check back and see who climbs to the top!</p>

                      <div class="row">
                          <div class="member col-md-6 text-center">
                              <img class="img-circle" src="http://community.topcoder.com/i/m/mahestro.jpeg" alt="" />
                              <p class="name">YOU!</p>
                              <p class="title">1st with 1000 pts</p>
                          </div><!--//member-->
                          <div class="member col-md-6 text-center">
                              <img class="img-circle" src="http://community.topcoder.com/i/m/CoralBlue.jpeg" alt="" />
                              <p class="name">YOUR FRIEND!</p>
                              <p class="title">2nd with 500  pts</p>
                          </div><!--//member-->
                      </div>
                    <% } %>

                    <% for (i=0; i <= leaderboard.length-1; i += 2){ %>
                      <% var left = leaderboard[i] %>
                      <% var right = leaderboard[i+1] %>
                      <div class="row">
                          <div class="member col-md-6 text-center">
                              <a href="http://www.topcoder.com/member-profile/<%= left.handle %>" target="_blank"><img class="img-circle" src="<%= left.pic %>" alt="<%= left.handle %>" /></a>
                              <p class="name"><%= left.handle %></p>
                              <p class="title"><%- ordinal(left.rank) %> with <%= left.score %> pts</p>
                          </div><!--//member-->
                          <% if(typeof right != 'undefined') { %>
                          <div class="member col-md-6 text-center">
                              <a href="http://www.topcoder.com/member-profile/<%= right.handle %>" target="_blank"><img class="img-circle" src="<%= right.pic %>" alt="<%= right.handle %>" /></a>
                              <p class="name"><%= right.handle %></p>
                              <p class="title"><%- ordinal(right.rank) %> with <%= right.score %>  pts</p>
                          </div><!--//member-->
                          <% } %>
                      </div>
                    <% } %> 
                </div><!--//team-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//story-->

    <!-- ******FAQ****** --> 
    <section id="faq" class="faq section">
        <div class="container">
            <div class="row">
                <h2 class="title text-center">Frequently Asked Questions</h2>
                <div class="faq-col col-md-6 col-sm-6 col-xs-12">
                    <div class="item">
                        <h3 class="question"><i class="fa fa-question-circle"></i>Are there any demos that I can look at?</h3>
                        <p class="answer">Yes! The <a href="http://www.idolondemand.com/docs/demos" target="_blank">HP IDOL OnDeamnd demo gallery</a> showcases the capabilities of the IDOL OnDemand web service APIs and the variety of ways they can be used within your app. </p>
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="question"><i class="fa fa-question-circle"></i>If I have questions, where do I post them?</h3>
                        <p class="answer">If you have questions regarding IDOL OnDemand pertaining to any [topcoder] challenges you are participating in, please post them to the discussion forum for that challenge. Developer evangelists for HP will be monitoring these discussions and can certainly help out. If your questions are more general to IDOL OnDemand as a product, you can contact <a href="https://www.idolondemand.com/developer/support" target="_blank">developer support</a>.</p>
                    </div><!--//item-->     
                    <div class="item">
                        <h3 class="question"><i class="fa fa-question-circle"></i>Where can I find the API docs?</h3>
                        <p class="answer">You can <a href="https://www.idolondemand.com/developer/docs" target="_blank">access the Developer Documentation here</a>.</p>
                    </div><!--//item-->                    
                    <div class="item">
                        <h3 class="question"><i class="fa fa-question-circle"></i>Is there an API playground where I can experiment with the APIs?</h3>
                        <p class="answer">Why yes there is! The IDOL OnDemand site has a <a href="https://www.idolondemand.com/developer/apis">super-cool API explorer</a> where you can get more info about each API, view sample request and responses and make samples requests against a sandbox environment.</p>
                    </div><!--//item-->
                </div><!--//faq-col-->
                <div class="faq-col col-md-6 col-sm-6 col-xs-12">
                    <div class="item">
                        <h3 class="question"><i class="fa fa-question-circle"></i>How do I sign up for IDOL OnDemand?</h3>
                        <p class="answer">You can <a href="http://www.idolondemand.com/signup.html" target="_blank">sign up for access on the IDOL OnDemand site</a>. As a [topcoder] member you'll be one of the first developers to try out IDOL OnDemand web service APIs. You'll also play a pivotal role in adding your voice to IDOL OnDemand product development.</p>
                    </div><!--//item-->  
                    <div class="item">
                        <h3 class="question"><i class="fa fa-question-circle"></i>I have some ideas about IDOL OnDemand. Where do I send them?</h3>
                        <p class="answer">If you have any feedback or ideas, we'd love to hear it.  You can <a href="http://www.idolondemand.com/contactus.html" target="_blank">send them to HP here</a>.</p>
                    </div><!--//item-->                  
                    <div class="item">
                        <h3 class="question"><i class="fa fa-question-circle"></i>Is there one-page overview where I can wrap my head around IDOL OnDemand?</h3>
                        <p class="answer">There certainly is! Take a look at the <a href="https://www.idolondemand.com/docs/overview.html" target="_blank">Introducing IDOL OnDemand page</a>. It's a great overview of the product and should have what you need.</p>
                    </div><!--//item-->
                </div><!--//faq-col-->
            </div><!--//row-->
            <div class="more text-left">
                <div class="row">
                  <div class="col-md-8"><img src="images/poweredby.png"></div>
                  <div class="col-md-4">
                        <span class='st_facebook_large' displayText='Facebook'></span>
                        <span class='st_googleplus_large' displayText='Google +'></span>
                        <span class='st_twitter_large' displayText='Tweet'></span>
                        <span class='st_linkedin_large' displayText='LinkedIn'></span>
                        <span class='st_pinterest_large' displayText='Pinterest'></span>                      
                  </div>              
                </div>
            </div>
        </div><!--//container-->
    </section><!--//faq-->    
      
    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container">
            <small class="copyright pull-left">Copyright &copy; 2014 Appirio</small>
        </div>
    </footer><!--//footer-->
     
    <!-- Javascript -->          
    <script type="text/javascript" src="plugins/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="plugins/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="plugins/detectmobilebrowser.js"></script>      
    <script type="text/javascript" src="plugins/jquery.easing.1.3.js"></script>   
    <script type="text/javascript" src="plugins/bootstrap/js/bootstrap.min.js"></script>     
    <script type="text/javascript" src="plugins/jquery-inview/jquery.inview.min.js"></script>
    <script type="text/javascript" src="plugins/FitVids/jquery.fitvids.js"></script>
    <script type="text/javascript" src="plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>    
    <script type="text/javascript" src="plugins/jquery-placeholder/jquery.placeholder.js"></script>
    <script type="text/javascript" src="plugins/flexslider/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>
    <!--[if !IE]>--> 
    <script type="text/javascript" src="javascripts/animations.js"></script> 
    <!--<![endif]-->         
    <script type="text/javascript" src="plugins/moment.min.js"></script> 
</body>
</html> 

